<div class="row text-center">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-4">
                        {{ account.number_magic_bone }}
                        <img class="img-fluid" src="/static/inventory/magic_bone.jpg" alt="Magic bone" style="max-height: 30px">
                    </div>
                    <div class="col-4">
                        {{ account.number_fitness_cookie }}
                        <img class="img-fluid" src="/static/inventory/fitness_cookie.jpg" alt="Fitness cookie" style="max-height: 30px">
                    </div>
                    <div class="col-4">
                        {{ account.number_tennis_ball }}
                        <img class="img-fluid" src="/static/inventory/tennis_ball.jpg" alt="Tennis ball" style="max-height: 30px">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
